<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.BillogStudio.NeverIHaveEver" android:installLocation="auto" android:versionName="1.4" android:versionCode="5">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:label="Never Have I Ever" android:icon="@mipmap/icon"></application>
</manifest>